<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinysort/3.2.5/tinysort.min.js"
            integrity="sha512-P3lisBxY1PusizpelihVrBeciBfWA9r7Ff/8j16b4K399OWJIrY1UdzdE7/BctqKv6Xujr8hp3IA2XiQX3Bsew=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinysort/3.2.5/jquery.tinysort.min.js"
            integrity="sha512-g9q+EbCl88hk4BDCh+yjH9ea8UuxLJ18i4P3gHyAY7ccCperjfQ9o5WxeGgnYr7R4AUbw1GmsO/QGfW5pyfpfw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinysort/3.2.5/tinysort.charorder.min.js"
            integrity="sha512-BcY8nZ3cI/qmPt6lg9Ap1hVpiNHxleQQdeKzbnkRCyn5Mo1B9vRYdoivP703Oemh/dG0B6HwSAvI8xK8lWAlTw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</head>
<body>
{% csrf_token %}
<div style="margin: 20px">
    <button class="btn btn-danger" onclick="location.href='{% url 'logout' %}'" style="float: right">
        Logout
    </button>
    <label for="sorting">Sorting:</label>
    <select name="sorting" id="sorting" class="form-select form-select-lg mb-3" style="max-width:20%">
        <option disabled selected value></option>
        <option value="increase">By Increasing</option>
        <option value="decrease">By decreasing</option>
    </select>
    <button class="btn btn-success" id="update">Update</button>

</div>


<div id="myData"></div>

</body>
<script>
    var csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value
</script>
<script>
    $("#sorting").change(function () {
            if ($(this).val() == 'increase') {
                tinysort('div#myData>div', {order: 'asc', attr: 'data-price'});
            }

            if ($(this).val() == 'decrease') {
                tinysort('div#myData>div', {order: 'desc', attr: 'data-price'});
            }
        }
    )
    $("#update").click(function () {
        $.get('{% url 'data' %}', function (data) {
            data.forEach(e => {
                let parent_div = $(`<div data-price=${e.price}></div>`)
                let photo = e.photo ? `Photo: <br> ${e.photo.map(img => '<img src="' + img + '"/><br>').join('')}` : ''
                let seller_name = e.seller_name ? `Seller_name: ${e.seller_name}<br>` : ''
                let elem = `<div>
                    Name: ${e.name} <br>
                    Price: ${e.price} <br>
                    ${photo}
                    ${seller_name}
                    </div>`

                let button = $(`<button class="btn btn-dark">Delete post</button>`);

                button.click(function () {
                    let that = this
                    let url = '{% url 'data' 0 %}'.replace('0', e.id)
                    $.ajax({
                        headers: {
                            "X-CSRFToken": csrf_token
                        },
                        url: url,
                        type: 'DELETE',
                        success: function () {
                            $(that).parent().remove()
                        }
                    });
                })
                $(parent_div).append($(elem))
                $(parent_div).append($(button))
                $('#myData').append($(parent_div))
            })
        })
    })

</script>
</html>